body{
  background-color: purple;
}
center{
  margin-top: 300px;
}
#container{
  background-color: blue;
  width: 360px;
  height: 360px;
}
button{
  width: 50px;
  height: 50px;
  display: inline-grid;
  border-radius: 0px;
  horizontal-align: center;
  border: none;
}
.number{
  background-color: grey;
}
.operation{
  background-color: orange;
}
.display{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
