body{
  background-color: black;
}
center{
  margin-top: 200px;
}
#container{
  background-color: blue;
  width: 500px;
  height: 600px;
  border-radius: 20px;
}
button{
  width: 90px;
  height: 90px;
  display: inline-grid;
  border-radius: 20px;
  horizontal-align: center;
  border: none;
  font-size: 20px;
  margin: 5px;
  padding-top: 30px;
  background-color: orange;
}
.number{
  background-color: grey;
}
.operation{
  background-color: orange;
}
.display{
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
  width: 350px;
  height: 50px;
  font-size: 25px;
  border-color: black;
  color: black;
}
