body{
  background-color: purple;
}
center{
  margin-top: 300px;
}
#container{
  background-color: blue;
  width: 360px;
  height: 360px;
}
button{
  margin: 10px;
  padding: 10px;
  display: inline-grid;
  border-radius: 5px;

}
.number{
  background-color: yellow;
}
.operation{
  background-color: orange;
}
.display{
  margin-top: 50px;
}
